In [1]:
from scipy import stats
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("data.csv").drop("Unnamed: 0", axis=1)
df.head()

,applicationnumber,loantype,DisbursalDate,LoanTenor,LoanAmount,SectorDescription,EstablishedSinceMonths,CurrentAddressSinceMonths,DocumentCharge,EMI,...,RentAmount,MailThrough,OtherLoanBank,NoOfDependents,Qualification,NetBusinessIncome,NetDisposableIncome,ProfessionDesc,30 DPDs Instance,DPD30
0,321071.0,8,2016-11-19,12 months,0.20,Services,0.001835,0.000000,0.138889,0.099525,...,0.000000,HomeAddress,0,0.072165,Intermediate,0.997012,30600.0,Self Employed,1,1
1,240464.0,8,2015-07-16,12 months,0.20,Services,0.001101,0.024490,0.092593,0.102107,...,0.000000,HomeAddress,0,0.051546,Matriculation,0.996989,18215.0,Self Employed,8,1
2,288229.0,8,2016-05-09,12 months,0.60,Services,0.005138,0.059592,0.685185,0.257851,...,0.000000,HomeAddress,0,0.061856,Middle,0.997007,20800.0,Self Employed,0,0
3,206150.0,8,2015-01-24,12 months,0.60,Trading,0.002202,0.008571,0.462963,0.257940,...,0.041667,BusinessAddress,0,0.020619,Matriculation,0.997023,26570.0,Business,0,0
4,256515.0,8,2015-11-04,15 months,0.76,Trading,0.006239,0.024490,0.462963,0.261799,...,0.000000,HomeAddress,0,0.030928,Illiterate,0.997021,29250.0,Business,0,0

In [3]:
Point_Biserial_Correlation = []
chi_square_probability = []
from scipy.stats import chisquare
unique_types = [i.name for i in df.dtypes.unique()]
for i in unique_types:
    cols = df.dtypes[df.dtypes == i].index.to_list()
    
    # remove target variable from list if exist
    if 'DPD30' in cols:
        del cols[cols.index("DPD30")]
        
    if i.startswith("float") or i.startswith("int"):
        for column in cols:
            Point_Biserial_Correlation.append((column, stats.pointbiserialr(df.DPD30, df[column]).pvalue))   
    elif i.startswith("O") or i == ("object"):
        for column in cols:
            chi_square_probability.append((column, stats.chi2_contingency(pd.crosstab(df.DPD30, df[column]))[1]))

In [4]:
pdd = pd.DataFrame(Point_Biserial_Correlation)
pdd = pdd.append(chi_square_probability)
pdd.columns = ['Column_name', 'P-value']
a = pd.DataFrame(df.dtypes).reset_index()
a.columns = ['Column_name', 'dtype']
f_df = pdd.merge(a, on='Column_name')
f_df['significatn'] = f_df['P-value'] < 0.05
f_df = f_df.sort_values("significatn", ascending=False)
f_df.to_csv("significant_vars.csv")
f_df

                  Column_name        P-value    dtype  significatn
0           applicationnumber   4.573826e-22  float64         True
11          NetBusinessIncome   2.027278e-02  float64         True
23              Qualification   5.164504e-15   object         True
21              MariatlStatus   4.991665e-80   object         True
20          SectorDescription   3.965336e-57   object         True
19                  LoanTenor  2.518851e-187   object         True
18              DisbursalDate  1.765335e-157   object         True
17           30 DPDs Instance   0.000000e+00    int64         True
15              ResidenceType   7.338009e-21    int64         True
13                   loantype   1.506535e-33    int64         True
1                  LoanAmount  2.169152e-227  float64         True
24             ProfessionDesc  1.444237e-124   object         True
10             NoOfDependents   1.585761e-51  float64         True
9                  RentAmount   1.072779e-49  float64         True
7               InsuranceRate  1.661650e-148  float64         True
6                InterestRate   1.592738e-07  float64         True
5                         EMI  5.466819e-164  float64         True
4              DocumentCharge   0.000000e+00  float64         True
3   CurrentAddressSinceMonths   2.215079e-86  float64         True
2      EstablishedSinceMonths   9.745193e-94  float64         True
14           AccomodationType   8.518542e-01    int64        False
8             InsuranceAmount   6.976788e-01  float64        False
16              OtherLoanBank   6.945683e-01    int64        False
22                MailThrough   6.624897e-01   object        False
12        NetDisposableIncome   8.603582e-01  float64        False